body{
    background-color: aquamarine;
    color: brown;
}
.menu li{
    display: inline;
    margin: 10px;
}
.menu li:hover{
    
    font-size: 20px;
}
.menu li a{
    text-decoration: none;
    color:darksalmon;
}
.menu li a:hover{
    color: gold;
}
.menu li a:active{
    color: gray;
}