<ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/profile/Talha">Talha Profile</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    <link rel='stylesheet' href="../Assets/style.css">
    